In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
June_temp= session.query(Measurement).filter(extract("month", Measurement.date)==6).all()

In [5]:
#  3. Convert the June temperatures to a list.
June_list=[Measurement.tobs for Measurement in June_temp]

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
June_df = pd.DataFrame(June_list, columns=['June Temperatures'])
print(June_df)

      June Temperatures
0                  78.0
1                  76.0
2                  78.0
3                  76.0
4                  77.0
...                 ...
1695               79.0
1696               74.0
1697               74.0
1698               76.0
1699               75.0

[1700 rows x 1 columns]

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
June_df.describe()

       June Temperatures
count        1700.000000
mean           74.944118
std             3.257417
min            64.000000
25%            73.000000
50%            75.000000
75%            77.000000
max            85.000000

## D2: Determine the Summary Statistics for December

In [8]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
Dec_temp= session.query(Measurement).filter(extract("month", Measurement.date)==12).all()

In [9]:
# 7. Convert the December temperatures to a list.
Dec_list=[Measurement.tobs for Measurement in Dec_temp]

In [10]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
Dec_df = pd.DataFrame(Dec_list, columns=['December Temperatures'])
print(Dec_df)

      December Temperatures
0                      76.0
1                      74.0
2                      74.0
3                      64.0
4                      64.0
...                     ...
1512                   71.0
1513                   71.0
1514                   69.0
1515                   65.0
1516                   65.0

[1517 rows x 1 columns]

In [11]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
Dec_df.describe()

       December Temperatures
count            1517.000000
mean               71.041529
std                 3.745920
min                56.000000
25%                69.000000
50%                71.000000
75%                74.000000
max                83.000000